.about-us{
  font-family: "Titillium Web", serif;
  width:100vw;
  background-color:#D2E9F9;
  padding-bottom:50px;
}

.about-identityx{
  padding-top:30px;
  font-size:64px;
  font-weight: bold;
  text-align:center;
}

.advantages{
  margin-top:5vw;
  margin-left:6vw;
  margin-right:6vw;
  display:flex;
  gap:10vw;
  align-content: space-between;
  text-align: center;
}

.offer{
  font-size:20px;
  background-color:#fff;
  padding: 3% 5% 3% 5%;
  width:15vw;
  border-radius: 99999px;
}

.offer-icon{
  height: 20vh;
}