.sorting-sanctuary {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0em 1.25em 7.188em;
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;
  color: #000;
  font-family: "Titillium Web";
}
.faq {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10vh;
  max-width: 100%;
}
.analyze-arena {
  width: 73.125em;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0em 1.25em;
  box-sizing: border-box;
  max-width: 100%;
}
.all-faq {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: stretch;
  box-sizing: border-box;
  max-width: 100%;
  gap:5vh;
}
.title-question {
  width: 17.5em;
  position: relative;
  font-size: 2.5em;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
}
.q-a {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0em 0em 1em;
  box-sizing: border-box;
  max-width: 1170px;
  flex-shrink: 0;
}
.arrow-up-icon {
  height: 3.75em;
  width: 4em;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.question {
  flex: 1;
  position: relative;
  font-size: 2.25em;
  font-weight: 600;
  display: inline-block;
  min-width: 8.472em;
  max-width: 100%;
  padding-left: 1.1em;
}
.image {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.063em;
  max-width: 100%;
  text-align: left;
}
.answer-hidden {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  max-width: 100%;
  text-align: left;
  padding-left: 6.6em;
}
.answer-visible {
  align-self: stretch;
  display: inline-block;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  max-width: 100%;
  text-align: left;
  width: 34.531em;
  position: relative;
  font-size: 2em;
  font-weight: 200;
  flex-shrink: 0;
  padding-left: 6.6em;
}
.que-2 {
  margin: 0
}
.button-faq {
  background-color: #f9fcfc;
  border: 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  cursor: pointer;
  padding: 0px 0;
}
.guarantee-money {
  text-decoration: underline;
}
