.user-data{
    margin-top:100px;
    font-family: "Titillium Web", serif;
    display: flex;
    flex-direction: row;
    width:80%;
    justify-content: center;
    gap:200px;
    padding-left:10%;
    padding-right:10%;
    font-size:24px;
    max-height: 300px;
}

.user-image-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:25%;
    height:50vh;
}

.user-image{
    width:100%;
}

.user-info{
    padding-top:5vh;
    padding-bottom: 5vh;
    display: flex;
    flex-direction: column;
    width:25%;
    justify-content: space-between;
    height:40vh;
}

.copy-key{
    color:#fff;
    background-color:#000;
    border-radius: 7px;
    box-shadow: 0 3px 5px#4b4b4b;
}

.user-profile-button{
    color:#fff;
    background-color:#000;
    border-radius: 7px;
    box-shadow: 0 3px 5px#4b4b4b;
    width:100%;
}

.user-profile-button:hover{
    background-color:#232323;
}


.user-sub-data{
    padding-top:5vh;
    padding-bottom: 5vh;
    display: flex;
    flex-direction: column;
    width:25%;
    justify-content: space-between;
    height:40vh;
}

.user-info-name{
    font-size:36px;
}