.background {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: -0.125em;
  bottom: -0.125em;
  left: 0;
  background-color: #f0f0f0;
  border: 1px solid #000;
  box-sizing: border-box;
}
.logo-1-icon {
  height: 2.644em;
  width: 2.781em;
  position: relative;
  object-fit: cover;
  flex-shrink: 0;
}
.identityx {
  position: relative;
  font-size: 1.125em;
  display: inline-block;
  min-width: 4.211em;
  flex-shrink: 0
}
.error-handler {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.45em 0 0;
}
.logo-1-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.319em;
}
.logo {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
}
.logo-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.106em 0 0;
}
.frame-child {
  height: 100%;
  width: 60%;
  position: absolute;
  border-radius: 15px;
  background-color: #242424;
}
.rectangle-parent {
  width: 13.313em;
  margin-left:20px;
  margin-right:-80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
  color: #f9fcfc;
  margin-top:20px;
}
.buttons {
  margin-top:-5px;
  display:flex;
  height: 1.938em;
  width: 76.125em;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 1;
  z-index: 1;
  font-size:24px;
  vertical-align: middle;
}

.subscriptions{
  z-index:2;
  font-size:24px;
}
.header {
  align-self: stretch;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.438em 5.431em 0.563em;
  box-sizing: border-box;
  position: sticky;
  gap: 6.606em;
  top: 0;
  z-index: 99;
  max-width: 100%;
  text-align: left;
  color: #000;
  font-family: "Titillium Web", serif;
}

.button-link a {
  color:#000;
  text-decoration: none;

  cursor: pointer;
}

