@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;400;600;700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
input,
button,
textarea,
select {
  font: inherit;
}
